body {
  font-family: "Roboto", sans-serif;
  /* Light 300 Italic, Regular 400, Black 900 */
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: #e5e7eb;
}

a:visited {
  text-decoration: none;
  color: #9c9ea1;
}

a:hover {
  text-decoration: none;
  color: #f9faf8;
}

/* HEADER/MISC */
.header,
.section-one,
.footer {
  background-color: #1f2937;
}

.header,
.section-one {
  color: #f9faf8;
  margin: 0;
  padding: 0 150px;
}

.header-logo-text {
  font-weight: 900;
  font-size: 24px;
}

.header-links,
.hero-text {
  font-weight: 400;
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo-text {
  margin-top: 10px;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 1em;
}

/* SECTION ONE - HERO */
.section-one {
  display: flex;
  justify-content: space-between;
  padding: 70px 150px;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  gap: 0.5em;
}

.hero-main-text {
  font-weight: 900;
  font-size: 48px;
}

.hero-placeholder-image {
  background-color: gray;
  width: 500px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-button {
  background-color: #3882f6;
  color: white;
  width: 96px;
  height: 28px;
  border-radius: 4px;
  border-style: none;
}

/* SECTION TWO - INFORMATION*/
.section-two {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-bottom: 60px;
}

.information-header-text {
  font-weight: 900;
  font-size: 36px;
  padding: 30px 0;
  text-align: center;
}

.information-image {
  border: 2px solid #3882f6;
  border-radius: 6px;
  width: 150px;
  height: 150px;
  margin: 0;
}

.information-text {
  width: 150px;
  text-align: center;
}

/* SECTION THREE - QUOTE */
.section-three {
  background-color: #e5e7eb;
  padding: 60px 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
.quote,
.signature {
  color: #1f2937;
}
.quote {
  font-weight: 300;
  font-size: 36px;
}

.signature {
  font-weight: 900;
  align-self:flex-end;
  padding-right: 80px;
}

/* SECTION FOUR - CALL TO ACTION*/
.section-four {
    background-color: white;
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 60px auto;
    padding: 40px 60px;
    border-radius: 6px;
}

.cta-header {
   font-weight: 900; 
   color: white;
}

.cta-text {
    font-weight: 400;
    margin: 0;
}

button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    width: 96px;
    height: 28px;
    font-weight: 900;
}

/* FOOTER */
.footer {
    text-align: center;
    color: white;
    padding: 20px;
}


